<canvas id="sheetFireCanvas" width="300" height="50">Your browser does not support the canvas element. If it did you would see sheet fire here.</canvas>

<script type="text/javascript"><!--
var InitialMin = 0.4;
var DecayRate = 0.95;
var GeneratorRowCount = 4;

var RowCount;
var ColumnCount;
var CurrentImageIndex;
var ImageHeight;
var FlameImage;
var ImageData;

function sheetFire()
{
  var LastImageData = ImageData[CurrentImageIndex];
  CurrentImageIndex = (CurrentImageIndex == 0) ? 1 : 0;
  var CurrentImageData = ImageData[CurrentImageIndex];
  var column;

  for( column = 0; column < ColumnCount; column++ )
  {
    CurrentImageData[ column ] = (Math.random( ) * (1 - InitialMin)) + InitialMin;
  }

  for( var row = 1; row < RowCount; row++ )
  {
    var rowOffset = row * ColumnCount;
    var lastRowOffset = rowOffset - ColumnCount;
    var lastLastRowOffset = lastRowOffset - ColumnCount;
    var lastLastLastRowOffset = lastRowOffset - ColumnCount;
    for( column = 0; column < ColumnCount; column++ )
    {
      var leftColumn = (column == 0) ? ColumnCount - 1 : column;
      var rightColumn = (column == ColumnCount - 1) ? 0 : column;

      // top
      var accum = LastImageData[ leftColumn + rowOffset ];
      accum += LastImageData[ column + rowOffset ];
      accum += LastImageData[ rightColumn + rowOffset ];

      //current
      accum += LastImageData[ leftColumn + lastRowOffset ];
      accum += LastImageData[ column + lastRowOffset ] * 2;
      accum += LastImageData[ rightColumn + lastRowOffset ];

      var divisor = 7;
      if( lastLastLastRowOffset > 0 )
      {
        accum += LastImageData[ leftColumn + lastLastLastRowOffset ];
        accum += LastImageData[ column + lastLastLastRowOffset ];
        accum += LastImageData[ rightColumn + lastLastLastRowOffset ];
        divisor += 3;
      }

      if( lastLastRowOffset > 0 )
      {
        accum += LastImageData[ leftColumn + lastLastRowOffset ];
        accum += LastImageData[ column + lastLastRowOffset ];
        accum += LastImageData[ rightColumn + lastLastRowOffset ];
        divisor += 3;
      }

      CurrentImageData[ column + rowOffset ] = (accum / divisor) * (DecayRate + ((Math.random( ) - 0.5) * InitialMin / 4));
    }
  }

  var pix = FlameImage.data;
  // Loop over each pixel and set pixel values.
  var pix_index = pix.length - 4;
  for( var i = ColumnCount * GeneratorRowCount; i < CurrentImageData.length; i ++ )
  {
    pix[pix_index  ] = Math.floor( CurrentImageData[ i ] * 256 ); // red channel
    pix_index -= 4;
  }

  var context = document.getElementById( 'sheetFireCanvas' ).getContext( '2d' );
  context.save( );
  context.putImageData( FlameImage, 0, 0 );

  context.restore( );
}

function initializeSheetFire()
{
  var i;
  canvas = document.getElementById( 'sheetFireCanvas' );
  if( canvas.getContext )
  {
    ImageHeight = canvas.height;
    RowCount = ImageHeight + GeneratorRowCount;
    ColumnCount = canvas.width;

    FlameImage = canvas.getContext( '2d' ).createImageData( ColumnCount, ImageHeight );
    var pix = FlameImage.data;
    for( i = 0; i < pix.length; i += 4 )
    {
      pix[i  ] = 0; // red channel
      pix[i + 1] = 0;
      pix[i + 2] = 0;
      pix[i + 3] = 255;
    }
    ImageData = new Array( 2 );
    for( var image_index = 0; image_index < 2; image_index++ )
    {
      var data = new Array( RowCount * ColumnCount );
      ImageData[image_index] = data;
      for( i = 0; i < data.length; i ++ )
      {
        data[i] = 0;
      }
    }
    CurrentImageIndex = 0;
    sheetFire( );
    setInterval( 'sheetFire()', 100 );
  }
}

initializeSheetFire( );

//--></script>