---
layout: base
---
<div id="wrap">
  <div id="c1">
    <div class="header">
      <a href="/" id="logo">
        <h1>{{ site.blog.title }}</h1>
        <h4>{{ site.blog.subtitle }}</h4>
      </a>
    </div>

    {{ content }}

    <div class="c1_end"></div>
  </div>

  <div class="aside">
    {% include search.html %}
    <div class="about">
    <h4><a href="/about.html" id="about-link">About Me</a></h4>
    </div>
    <ul id="widgets">
      <li class="widget">
        <h2>Articles</h2>
        <ul>
          <li>
            <a href="/code/programming-languages" title="View all articles filed under Programming Languages">Programming Languages ({{ site.categories.programming-languages | size }})</a>
          </li>
          <li>
            <a href="/code/software-development" title="View all articles filed under Software Development">Software Development ({{ site.categories.software-development | size }})</a>
          </li>
          <li>
            <a href="/code/virtual-machines" title="View all articles filed under Virtual Machinces">Virtual Machines ({{ site.categories.virtual-machines | size }})</a>
          </li>
          <li>
            <a href="/code/rails" title="View all articles filed under Rails">Ruby on Rails ({{ site.categories.rails | size }})</a>
          </li>
          <li>
            <a href="/code" title="View all code articles">All Code ({{ site.categories.code | size }})</a>
          </li>
        </ul>
      </li>
      <li class="widget">
        <h2>Links</h2>
        <ul>
          <li>
            <a href="http://bluemeanie.smugmug.com/" title="View my photo galleries" target="_blank">Photo Galleries</a>
          </li>
          <li>
            <a href="http://github.com/realityforge" title="View the source code to my open source projects" target="_blank">Github Account</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
