<html>
<head profile="http://gmpg.org/xfn/11">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.blog.author }}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/atom.xml" rel="alternate" title="{{ page.blog.title }}" type="application/atom+xml"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel='index' title='RealityForge.org' href='{{ site.blog.url }}'/>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"/>
</head>
<body>
{% include ie_warning.html %}

<div id="wrap">
  <div id="c1">
    <div class="header">
      <a href="/" id="logo">
        <h1>{{ site.blog.title }}</h1>
        <h4>{{ site.blog.subtitle }}</h4>
      </a>

      <div id="menu">
        <ul>
          <li class="page_item"><a href="/about.html">About</a></li>
        </ul>
      </div>
    </div>

    {{ content }}

    <div class="c1_end"></div>
  </div>

  {% if page.disable_aside != true %}
  <div class="aside">
    {% include search.html %}
    <ul id="widgets">
      <li class="widget">
        <h2>Articles</h2>
        <ul>
          <li>
            <a href="/categories/code.html" title="View all articles filed under Code">Code ({{ site.categories.code | size }})</a>
          </li>
          <li>
            <a href="/categories/programming-languages.html" title="View all articles filed under Programming Languages">Programming Languages ({{ site.programming-languages.code | size }})</a>
          </li>
          <li>
            <a href="/categories/software-development.html" title="View all articles filed under Software Development">Software Development ({{ site.software-development.code | size }})</a>
          </li>
          <li>
            <a href="/categories/virtual-machines.html" title="View all articles filed under Virtual Machinces">Virtual Machines ({{ site.virtual-machines.code | size }})</a>
          </li>
          <li>
            <a href="/categories/all.html" title="View all articles">All ({{ site.posts | size }})</a>
          </li>
        </ul>
      </li>
      <li class="widget">
        <h2>Links</h2>
        <ul>
          <li>
            <a href="http://bluemeanie.smugmug.com/" title="View my photo galleries" target="_blank">Photo Galleries</a>
          </li>
          <li>
            <a href="http://github.com/realityforge" title="View the source code to my open source projects" target="_blank">Github Account</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  {% endif %}

</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-107024-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
<!-- Google Analytics end -->

</body>
</html>