<!DOCTYPE HTML>
<html>

<head profile="http://gmpg.org/xfn/11">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.blog.author }}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/atom.xml" rel="alternate" title="{{ page.blog.title }}" type="application/atom+xml"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel='index' title='RealityForge.org' href='{{ site.blog.url }}'/>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"/>
</head>
<body>
  <!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new monospace; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->

<div id="wrap">
  <div id="c1">
    <div class="header">
      <a href="/" id="logo">
        <h1>{{ site.blog.title }}</h1>
        <h4>{{ site.blog.subtitle }}</h4>
      </a>

      <div id="menu">
        <ul>
          <li class="page_item"><a href="/about.html">About</a></li>
        </ul>
      </div>
    </div>

    {{ content }}

    <div class="c1_end"></div>
  </div>

  {% if page.disable_aside != true %}
  <div class="aside">
    <div id="search">
      <form action="http://www.google.com/cse">
        <input type="hidden" name="cx" value="016119274516139509252:5ccmfcxlilu"/>
        <input type="hidden" name="ie" value="UTF-8"/>
        <input type="text" class="text" name="q" size="31"/>
        <input type="submit" class="submit" name="sa" value="Search"/>
      </form>
    </div>
    <ul id="widgets">
      <li class="widget">
        <h2>Articles</h2>
        <ul>
          <li>
            <a href="/categories/code.html" title="View all articles filed under Code">Code ({{ site.categories.code | size }})</a>
          </li>
          <li>
            <a href="/categories/all.html" title="View all articles">All ({{ site.posts | size }})</a>
          </li>
        </ul>
      </li>
      <li class="widget">
        <h2>Links</h2>
        <ul>
          <li>
            <a href="http://bluemeanie.smugmug.com/" title="View my photo galleries" target="_blank">Photo Galleries</a>
          </li>
          <li>
            <a href="http://github.com/realityforge" title="View the source code to my open source projects" target="_blank">Github Account</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  {% endif %}

</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-107024-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
<!-- Google Analytics end -->

</body>
</html>