---
layout: default
comments: true
---
<div class="post">
  <div class="post-c2">
    <div class="post-head">
      <h1><span class="post-date">{{ page.date | date_to_string }}</span><a href="{{ post.url }}" rel="bookmark">{{ page.title }}</a></h1>
    </div>
    <div class="post-text">
      {{ content }}
    </div>
    <div class="post-foot">
      {% if page.categories != empty %}
			<span class="post-category">Posted in {{ page.categories | array_to_sentence_string }}</span>
      {% endif %}
    </div>
    {% include disqus.html %}
  </div>
</div> 
